* {
	box-sizing: border-box;
}

body {
	background-image: radial-gradient(circle at center, getColour(grey), getColour(beige));
	margin: 0;
	font-family: $font-primary;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}