::placeholder {
	color: white;
}

.form-common {
	border: none;
	height: 25px;
	padding: 0.2rem 0.3em;
	color: white;
}

.form-search {
	input {
		@extend .form-common;
		background: darken(getColour(primary), 10%);
	}

	button {
        @extend .form-common;
		background: getColour(secondary);
        width: 35px;
        &:hover{
            background: lighten(getColour(primary), 10%);
            cursor: pointer;
        }
	}
}
