nav {
    background: getColour(primary);
   
    .container{
        @extend .container-flex;
    }
    .logo {
        font-size: 1.6em;
    }

    *{
        color: white;
        text-decoration: none;
    }

    ul{
        list-style: none;
        display: flex;
    }
    li{
        margin-left: 1em;
    }

    a.active {
      padding: 0.4em;
      background: lighten(getColour(primary), 10%);
      border-radius: 5px;

    }
}